body {
    background-color: white;
    margin: 0;
    border: 1px solid red;
    overflow-y: hidden;
    overflow-x: hidden;

}


#main-wrapper {
    width: 100%;
    border: 1px solid green;
     background-color: yellowgreen;
    height: 800px;
}
#main-wrapper #page-wrapper {
      width: 98%;
    text-align: center;
    border: 1px solid brown;
    height: 568px;
    
}
h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}